ef-utils-extra-timetable-filters {
  display: table-row;
}

ef-utils-extra-timetable-filters td.fd ul {
  margin: 0;
  padding: 0;
}

ef-utils-extra-timetable-filters td.fd ul li {
  display: inline-block;
  margin-right: 4px;
}

ef-utils-extra-timetable-filters td.fd ul li input[type="checkbox"] {
  margin-right: 4px;
}

.ef-utils-field-filter-section {
  margin-top: 12px;
}
